/**** polices ****/
@font-face{
	font-family: "Soria";
	src: url("../polices/Soria.ttf");
}
@font-face{
	font-family: "Cabrion";
	src: url("../polices/Cabrion.otf");
}
@font-face{
	font-family: "Aliandra";
	src: url("../polices/Aliandra.ttf");
}
/**** all ****/
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: "Cabrion", "Times New Roman", serif;
	margin-top: 130px;
	background-color: #f8f3ed;
} 
h1, h2, h3, h4{
	text-align: center;
	font-family: "Soria";
}